.App {
    background: whitesmoke;
    height: 100%;
    width: 100%;
    border: 1px solid whitesmoke;
    margin: 25px auto;
    overflow: hidden;
    /*position: relative;*/
}

.box {
    background: whitesmoke;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    /*overflow: hidden;*/
    margin: 10px -400px;
    -webkit-animation-name: scroll;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    /*-webkit-animation-direction: alternate;*/
    -webkit-animation-timing-function: linear;
}

.box:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }

}