.App {
    /*background: whitesmoke;*/
    height: 100%;
    width: 100%;
    /*border: 1px solid whitesmoke;*/
    margin: 25px auto;
    overflow: hidden;
    /*position: relative;*/
}

.box {
    /*background: whitesmoke;*/
    height: 100%;
    width: 1200px;
    margin: auto;
    /*position: absolute;*/
    /*overflow: hidden;*/
    /*margin: 10px -400px;*/
    -webkit-animation-name: scroll;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    /*-webkit-animation-direction: alternate;*/
    -webkit-animation-timing-function: linear;
}

.box:hover {
    -webkit-animation-play-state: paused;
}

@-webkit-keyframes move {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 100%;
    }

}
.inner-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 1200px;
    /*overflow: auto;*/
}

.wrapper {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageStyle {
    width: 150px;
    margin: 10px;
}

.imgDescription {
    position: absolute;
    background: rgba(169, 169, 169, 0.72);
    color: #fff;
    visibility: hidden;
    opacity: .5;

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s;
}

.wrapper:hover .imgDescription {
    visibility: visible;
    opacity: 0;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

.hidden {
    display: none;
}